

.section__basic{
    padding-top: 62px;

    // FIRST SECTION 
    .section__first{
        display: grid;
        gap: 80px;
        margin-bottom: 188px;
        grid-template-columns: 1fr 508px;
        @media screen and (max-width: $tablet) {
            gap: 60px;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 80px;
        }
        @media screen and (max-width: $mobile) {
            margin-bottom: 60px;
            grid-template-columns: 1fr;
        }
        &-title{
            font-size: 36px;
            font-weight: 700;
            line-height: 1.4;
            @media screen and (max-width: $tablet) {
                font-size: 32px;
            }
            @media screen and (max-width: $mobile) {
                font-size: 30px;
            }
            margin-bottom: 34px;
        }
        &-desc{
            font-weight: 300;
            margin-bottom: 34px;
            font-size: 18px;
            opacity: .8;
        }
        &-img{
            max-height: 360px;
            overflow: hidden;
            img{
                height: auto;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    // SECOND SECTION 
    .section__second{
        &-title{
            max-width: 868px;
            margin-bottom: 80px;
            @media screen and (max-width: $mobile) {
                margin-bottom: 60px;
                text-align: center;
            }
        }
        &-list{
            gap: 44px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr 1fr;
            }
            @media screen and (max-width: $mobile) {
                grid-template-columns: 1fr ;
            }
        }
    }
    .section__item{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        @media screen and (max-width: $mobile) {
            align-items: center;
            & * {
                text-align: center;
            }
        }
        &-icon{
            margin-bottom: 22px;
            img{
                border-radius: 2px;
                background-color: rgba($tertiary_color, .1);
                padding: 10px;
            }
        }
        &-title{
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 12px;
            
        }
        &-desc{
            font-weight: 400;
            font-size: 15px;
            color: lighten($text_color, 20%);
        }
    }
}


