.section__basic{
    padding-top: 62px;
    &-intro{
        display: block;
        font-size: 26px;
        margin-bottom: 132px;
        position: relative;
        text-align: center;
        @media screen and (max-width: $tablet) {
            font-size: 22px;
            margin-bottom: 80px;
        }
        @media screen and (max-width: $mobile) {
            margin-bottom: 40px;
            &:after{
                display: none;
            }
        }
        &:after{
            background-color: $grey;
            content: "";
            height: 0.5px;
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            z-index: 1;
        }
        span{
            background-color: $white;
            padding-left: 55px;
            padding-right: 55px;
            position: relative;
            z-index: 2;
            @media screen and (max-width: $mobile) {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    &-line{
        background-color: $grey;
        height: 1px;
    }
    .section__first{
        display: grid;
        column-gap: 100px;
        margin-bottom: 188px;
        grid-template-columns: 1fr 1fr;
        @media screen and (max-width: $tablet) {
            column-gap: 60px;
            margin-bottom: 80px;
        }
        @media screen and (max-width: $mobile) {
            margin-bottom: 60px;
            grid-template-columns: 1fr;
            row-gap: 60px;
        }
        &-title{
            font-size: 36px;
            font-weight: 700;
            line-height: 1.4;
            margin-bottom: 34px;
            @media screen and (max-width: $tablet) {
                font-size: 32px;
            }
            @media screen and (max-width: $mobile) {
                font-size: 30px;
            }
        }
        &-desc{
            font-weight: 300;
            margin-bottom: 34px;
            opacity: .8;
        }
        &-img{
            max-height: 360px;
            overflow: hidden;
            img{
                height: auto;
                object-fit: cover;
                width: 100%;
            }
        }
    }
    .section__second{
        &-title{
            font-size: 32px;
            font-weight: 600;
            line-height: 1.4;
            max-width: 865px;
            margin-bottom: 80px;
            @media screen and (max-width: $tablet) {
                font-size: 28px;
            }
            @media screen and (max-width: $mobile) {
                font-size: 26px;
                margin-bottom: 60px;
                text-align: center;
            }
        }
        &-list{
            column-gap: 58px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            @media screen and (max-width: $tablet) {
                grid-template-columns: 1fr 1fr;
                row-gap: 60px;
            }
            @media screen and (max-width: $mobile) {
                grid-template-columns: 1fr ;
            }
        }
    }
    .section__item{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        @media screen and (max-width: $mobile) {
            align-items: center;
            & * {
                text-align: center;
            }
        }
        &-icon{
            margin-bottom: 22px;
            img{
                border-radius: 2px;
                background-color: rgba($tertiary_color, .1);
                padding: 10px;
            }
        }
        &-title{
            font-weight: 600;
            margin-bottom: 24px;
            
        }
        &-desc{
            font-weight: 300;
            font-size: 16px;
        }
    }
}

