/*------------------------------
    COMMONS
-------------------------------*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

body{
    font-family: $mainfont;
    line-height: 1.8;
    font-size: 18px;
}
.container{
    max-width: $SiteWidth;
    margin: 0 auto;
    &-small{
        max-width: 1220px;
        padding: 0 20px;
    }
}

a{
    text-decoration: none;
}
.btn{
    background-color: $primary_color;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 36px;
    display: block;
    color: $white;
    display: inline-block;
}
