/*------------------------------
    COMMONS
-------------------------------*/

*,
*:before,
*:after {
    box-sizing: border-box;
}

body{
    font-family: $mainfont;
    line-height: 1.8;
    font-size: 16px;
}
.container{
    max-width: $SiteWidth;
    margin: 0 auto;
    &-small{
        margin: 0 135px;
        @media screen and (max-width: $desktop) {
            margin: 0 80px;
        }
        @media screen and (max-width: $tablet) {
            margin: 0 40px;
        }
        @media screen and (max-width: $mobile) {
            margin: 0 20px;
        }
    }
}

a{
    text-decoration: none;
}
.btn{
    background-color: $primary_color;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 36px;
    display: block;
    color: $white;
    display: inline-block;
    transition: all ease-in-out .2s;
    &:hover{
        background-color:darken($primary_color, 5%);
    }
}

h2{
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    @media screen and (max-width: $tablet) {
        font-size: 32px;
    }
    @media screen and (max-width: $mobile) {
        font-size: 26px;
    }
}

h3{
    font-size: 18px;
    font-weight: 600;
}
