

// POPPIN FONT 
$mainfont : 'Poppins', sans-serif;

// COLORS
$text_color:#232324;
$primary_color:#f56702;
$secondary_color:#04abf4;
$tertiary_color:#510e75;
$white: #ffffff;
$grey:#c6c6c6;
$light_grey : #97aaba;


$SiteWidth: 1435px;


// RESPONSIVE 
$desktop:1299px;
$tablet:1023px;
$mobile:780px;
$small:640px;  






