

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap');

$mainfont : 'Poppins', sans-serif;

$text_color:#232324;
$primary_color:#f56702;
$secondary_color:#04abf4;
$tertiary_color:#510e75;
$white: #ffffff;
$grey:#c6c6c6;
$light_grey : #97aaba;

$SiteWidth: 1435px;

$desktop:1299px;
$tablet:1023px;
$mobile:780px;
$small:640px;  






